<div class="">
	<span class='st_facebook_large' displayText='Facebook' st_via='LovePhrasesGuru' st_url="http://www.lovephrases.guru{{ data.section_path }}#article-{{ data.article_id }}" st_title="{{ data.article_title }}" st_image="{{ data.article_img }}" st_summary="{{ data.article_lead }}" st_msg='#LovePhrases #LoveQuotes #Quotes'></span>

	<span class='st_twitter_large' displayText='Tweet' st_via='LovePhrasesGuru' st_url="http://www.lovephrases.guru{{ data.section_path }}#article-{{ data.article_id }}" st_title="{{ data.article_lead }}" st_image="{{ data.article_img }}" st_summary="{{ data.article_lead }}" st_msg='#LovePhrases #LoveQuotes #Quotes'></span>

	<span class='st_pinterest_large' displayText='Pinterest' st_via='LovePhrasesGuru' st_url="http://www.lovephrases.guru{{ data.section_path }}#article-{{ data.article_id }}" st_title="{{ data.article_title }}" st_image="{{ data.article_img }}" st_summary="{{ data.article_lead }}" st_msg='#LovePhrases #LoveQuotes #Quotes'></span>

	<span class='st_googleplus_large' displayText='Google +' st_via='LovePhrasesGuru' st_url="http://www.lovephrases.guru{{ data.section_path }}#article-{{ data.article_id }}" st_title="{{ data.article_title }}" st_image="{{ data.article_img }}" st_summary="{{ data.article_lead }}" st_msg='#LovePhrases #LoveQuotes #Quotes'></span>

	<span class='st_instagram_large' displayText='Instagram Badge' st_via='LovePhrasesGuru' st_url="http://www.lovephrases.guru{{ data.section_path }}#article-{{ data.article_id }}" st_title="{{ data.article_title }}" st_image="{{ data.article_img }}" st_summary="{{ data.article_lead }}" st_msg='#LovePhrases #LoveQuotes #Quotes'></span>

	<span class='st_whatsapp_large' displayText='WhatsApp' st_via='LovePhrasesGuru' st_url="http://www.lovephrases.guru{{ data.section_path }}#article-{{ data.article_id }}" st_title="{{ data.article_title }}" st_image="{{ data.article_img }}" st_summary="{{ data.article_lead }}" st_msg='#LovePhrases #LoveQuotes #Quotes'></span>
</div>