{% extends 'LovePhrasesAppBundle::layout.html.twig' %}

{# Incluimos la plantilla del menu de opciones #}
{% block top_navigation %}
	{# si existe el array de articulos #}
	{% if data.sections is defined and data.sections is not null and data.sections is not empty %}
		{{ include('LovePhrasesAppBundle:Common:topnavigation.html.twig', { 'data': data.sections }) }}
	{% endif %}
			
{% endblock %}

{# si existe el label #}
{% if data.label is defined and data.label is not null and data.label is not empty %}

	{# Incluimos el titulo de la seccion #}
	{% block content_title %}
			{{data.label}}
	{% endblock %}

{% endif %}

{# si existe el tag #}
{% if data.tag is defined and data.tag is not null and data.tag is not empty %}

	{# Incluimos el paging, ojo que el despliegue de landing tag es cronologico, como se ordena por fecha iniciamos el offset desde 5 en 5 ya que el home del tag por defecto trae las primeras 5 #}
	{% block content_paging %}

			<div id="paging"><a class="nav-prev" href="{{ path('lovephrases_loadmorearticles', { 'tag': data.tag, 'offset': 5, 'row_count': 5, 'position': 'Secundary' }) }}">Next Set of Posts</a></div>

	{% endblock %}

{% endif %}

{# renderizamos los articulos #}

{% block content_articles %}

	{# si existe el array de articulos #}
	{% if data.articles is defined and data.articles is not null and data.articles is not empty %}

		{# recorremos el array, segun el tipo de formato vamos renderizando #}
		{% for article in data.articles %}

			{% if (article.article_type == 'AUDIO') %}
				{{ include('LovePhrasesAppBundle:Section/Article:audio.html.twig', { 'data': article }) }}
			{% endif %}

			{% if (article.article_type == 'GALLERY') %}
				{{ include('LovePhrasesAppBundle:Section/Article:gallery.html.twig', { 'data': article }) }}
			{% endif %}

			{% if (article.article_type == 'IMAGE') %}
				{{ include('LovePhrasesAppBundle:Section/Article:image.html.twig', { 'data': article }) }}
			{% endif %}

			{% if (article.article_type == 'LINK') %}
				{{ include('LovePhrasesAppBundle:Section/Article:link.html.twig', { 'data': article }) }}
			{% endif %}

			{% if (article.article_type == 'QUOTE') %}
				{{ include('LovePhrasesAppBundle:Section/Article:quote.html.twig', { 'data': article }) }}
			{% endif %}

			{% if (article.article_type == 'STANDARD') %}
				{{ include('LovePhrasesAppBundle:Section/Article:standard.html.twig', { 'data': article }) }}
			{% endif %}									

			{% if (article.article_type == 'VIDEO') %}
				{{ include('LovePhrasesAppBundle:Section/Article:video.html.twig', { 'data': article }) }}
			{% endif %}

		{% endfor %}

	{% endif %}	

{% endblock %}	
